* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif !important;
  overflow-x: hidden;
  background-color: #e9edd5 !important; /* Ensure this rule is applied */
  color: #4d4d4d;
  font-size: 16px;
}

h1, h2, p {
  text-align: center;
}

h1 {
  font-family: 'Sacramento', sans-serif !important;
  font-size: 40px;
  color: #6f4f37;
  margin-top: 20px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 30px;
  color: #6f4f37;
}

h3 {
  font-family: 'Josefin Sans', sans-serif !important;
  color: #6f4f37;
}

h4 {
  font-family: 'Josefin Sans', sans-serif !important;
  color: #6f4f37;
}

h5 {
  font-family: 'Josefin Sans', sans-serif !important;
  color: #826e5f;
}

p {
  font-size: 18px;
  color: #8a7f7f;
  margin-top: 10px;
}

.view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.intro-view {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  background-color: #f98477;
  color: white;
  border: none;
  padding: 7px 10px;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #fc6d58;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}

.arrow {
  font-size: 30px;
  cursor: pointer;
  margin-top: 30px;
  transition: transform 0.3s ease;
}

.arrow:hover {
  transform: translateY(5px);
}

.image {
  width: 110px;
  height: 110px;
}

#view6 .image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

a {
  color: #fc6d58;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}
.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif !important;
  color: #d49237;
  border: 0.5px solid #d4af37;
  border-radius: 15px;
  padding: 5px;
}

.countdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
}

.countdown-number {
  font-size: 1.5em;
  font-weight: bold;
}

.countdown-text {
  font-size: 0.8em;
  margin-left: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.petal {
  position: fixed;
  top: -10%;
  width: 30px;
  height: 30px;
  background-image: url('rose-petal.png');
  background-size: cover;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.logo-small {
  width: 50px; /* Adjust the size as needed */
  height: auto;
}
.logo3 {
  position: relative;
  top: -20px;
  left: -20px;
}
.logo4 {
  position: relative;
  top: 20px;
  right: -20px;
}

.btn-outline-warning {
  color: #ffc107; /* Keep the text color as warning yellow */
  border-color: #ffc107; /* Keep the border color as warning yellow */
}

.btn-outline-warning:hover {
  background-color: #ffc107; /* Change hover background to warning yellow */
  color: #fff; /* Change text color to white on hover */
}